<% if(locals.errors){ %> <% errors.forEach(function(error) { %>
<div class="my-alert" role="my-alert">
  <%= error.msg %>

</div>
<% }); %> <% } %> <% if(success_msg != ''){ %>
<div class="my-alert" role="my-alert">
  <%= success_msg %>

</div>
<% } %> <% if(error_msg != ''){ %>
<div class="my-alert" role="my-alert">
  <%= error_msg %>

</div>
<% } %> <% if(error != ''){ %>
<div class="my-alert" role="my-alert">
  <%= error %>

</div>
<% } %>
