        <!-- Top Bar Start -->
<%- include('../partials/signed-nav') %>
        <!-- Nav Bar End -->


        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                    </div>
                    <div class="col-12">
                        <a href="/">Home</a>
                        <a href="/user/samples">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


	<!-- Service Start -->
	<div class="service">
		<div class="container">
			<div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
				
				
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
					<div class="service-item ">
					
						<a href="/user/afro"><h3>Afro</h3></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
					<div class="service-item ">
					
						<a href="/user/afro-pop"><h3>Afro pop</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
					<div class="service-item ">
					
						<a href="/user/trap"><h3> Trap</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
					<div class="service-item ">
					
						<a href="/user/trap-soul"><h3>Trap soul</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
					<div class="service-item ">
					
						<a href="/user/reggae"><h3>Regae</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
					<div class="service-item ">
					
						<a href="/user/dancehall"><h3>Dance hall</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi.</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
					<div class="service-item ">
					
						<a href="/user/pop"><h3>Pop</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
					<div class="service-item ">
					
						<a href="/user/rnb"><h3>Rnb</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
					<div class="service-item ">
					
						<a href="/user/mixes"><h3>Mixes</h3></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi.</p>
					</div>
				</div>
			</div>
		</div>
	</div> 

    <%- include('../partials/footer') %>


