        <!-- Top Bar Start -->
<%- include('../partials/signed-nav') %>
        <!-- Nav Bar End -->


        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Purchase Beats</h2>
                    </div>
                    <div class="col-12">
                        <a href="/">Home</a>
                        <a href="/samples">Purchase Beat</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


	<!-- Service Start -->
    <div class="service">
		<div class="container">
			<div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
				
				<h2>Genres</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
					<div class="service-item">
						<div class="service-icon">
							<a href="/play"><i class="fa fa-play"></i></a>
						</div>
						<h3>Heal emotions</h3>
						<p>$540.00</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
					<div class="service-item active1">
						<div class="service-icon">
							<a href="/play"><i class="fa fa-play"></i></a>
						</div>
						<h3>Body Refreshes</h3>
						<p>$120.00</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
					<div class="service-item">
						<div class="service-icon">
							<a href="/play"><i class="fa fa-play"></i></a>
						</div>
						<h3>Mind & Serenity</h3>
						<p>$140.00</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
					<div class="service-item">
						<div class="service-icon">
							<a href="/play"><i class="fa fa-play"></i></a>
						</div>
						<h3>Enjoy Your life</h3>
						<p>$400.00</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.8s">
					<div class="service-item">
						<div class="service-icon">
							<a href="/play"><i class="fa fa-play"></i></a>
						</div>
						<h3>Body & Spirituality</h3>
						<p>$300.00</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="1s">
					<div class="service-item">
						<div class="service-icon">
							<a href="/play"><i class="fa fa-play"></i></a>
						</div>
						<h3>Body & Mind</h3>
						<p>$100.00</p>
					</div>
				</div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="1s">
					<div class="service-item">
						<div class="service-icon">
							<a href="/play"><i class="fa fa-play"></i></a>
						</div>
						<h3>Body & Mind</h3>
						<p>$400.00</p>
					</div>
				</div>

                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="1s">
					<div class="service-item">
						<div class="service-icon">
							<a href="/play"><i class="fa fa-play"></i></a>
						</div>
						<h3>Body & Mind</h3>
						<p>$200.00</p>
					</div>
				</div>


                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="1s">
					<div class="service-item">
						<div class="service-icon">
							<a href="/play"><i class="fa fa-play"></i></a>
						</div>
						<h3>Body & Mind</h3>
						<p>$200.00</p>
					</div>
				</div>


                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="1s">
					<div class="service-item">
						<div class="service-icon">
							<a href="/play"><i class="fa fa-play"></i></a>
						</div>
						<h3>Body & Mind</h3>
						<p>$200.00</p>
					</div>
				</div>


                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="1s">
					<div class="service-item">
						<div class="service-icon">
							<a href="/play"><i class="fa fa-play"></i></a>
						</div>
						<h3>Body & Mind</h3>
						<p>$200.00</p>
					</div>
				</div>


                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="1s">
					<div class="service-item">
						<div class="service-icon">
							<a href="/play"><i class="fa fa-play"></i></a>
						</div>
						<h3>Body & Mind</h3>
						<p>$200.00</p>
					</div>
				</div>
			</div>
		</div>
	</div> 
 
	<!-- Service End -->
	<div class="row">
		<div class="col-12">
			<ul class="pagination justify-content-center">
				<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
				<li class="page-item active"><a class="page-link" href="#">1</a></li>
				<li class="page-item "><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">Next</a></li>
			</ul> 
		</div>
	</div>

    <%- include('../partials/footer') %>


